@page "/features"

<header>
    <img src="images/xpresso-logo-white-light.svg" alt="Xpresso Logo" class="logo">
    <h1>Features</h1>
</header>

<nav>
    <NavLink href="/" class="nav-link" activeClass="active" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/features" class="nav-link" activeClass="active" Match="NavLinkMatch.Prefix">Features</NavLink>
    <NavLink href="/contact" class="nav-link" activeClass="active" Match="NavLinkMatch.Prefix">Contact</NavLink>
</nav>

<div class="container">
    <section>
        <h2>Key Features</h2>
        <ul>
            <li>Effortless Ticketing: Secure your seat with ease.</li>
            <li>Real-Time Scheduling: Stay updated on schedules.</li>
            <li>Interactive Route Maps: Navigate with confidence.</li>
            <li>Trip Management: Organize and view your trips in one place.</li>
            <li>Secure Wallet Integration: Add funds and manage transactions.</li>
            <li>Personalized Settings: Customize your app experience.</li>
        </ul>
    </section>
</div>
